aiogram==2.12.1
aiohttp==3.7.4.post0
alpha-vantage==2.3.1
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
clr==1.0.3
distro==1.5.0
et-xmlfile==1.0.1
fake-useragent==0.1.11
idna==2.10
investpy==1.0.6
lxml==4.6.2
multidict==5.1.0
multitasking==0.0.9
numpy==1.20.1
openpyxl==3.0.7
pandas==1.2.3
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
tabula-py==2.2.0
tqdm==4.59.0
typing-extensions==3.7.4.3
ujson==4.0.2
Unidecode==1.2.0
urllib3==1.26.3
yarl==1.6.3
yfinance==0.1.56
